.places {
  width: 984px;
  margin: 0 auto;
}

.places__item {
  margin: 0 0 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 100%;
    min-width: 320px;
    margin: 0;
  }

  .places__item {
    margin: 0;
  }
}
